*{}

.nbd-popup.ct {
	overflow: auto;
}

.main-popup.ct {
	background: #fff;
    width: 40pc;
    height: auto;
    margin: auto;
    position: relative;
    top: 20%;
    padding: 0 65px;
}

.nbd-popup.ct-hide {
    display: none !important;
}

.clr {
	color: red;
	margin-bottom: 0 !important;
}

i.ct-close {
	position: absolute;
    right: 45px;
    font-size: 30px;
    font-weight: 700;
    font-style: inherit;
    cursor: pointer;
}

.head-bt_ct {
	font-weight: bold;
    padding-top: 18px;
    text-align: center;
}

.main-body.bd-ct p {
	text-align: center;
	margin-bottom: 10px;
}

.two-bt {
	display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 10px;
}

.two-bt button {
	text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    width: 130px;
}

.bg-black {
	background: black;
}

.bg-red {
	background: red;
}